*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color:white;

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: rgb(226, 224, 224);

}

.head h2{
    font-size: 2rem;
    color: rgb(37, 36, 36);
}

.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 100px 0 0 500px;
    width: 500px;


}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid #e9e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(56, 52, 52);
    cursor: pointer;
    
}


.form {
    margin: 100px 0 0 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;


}
.form label{
  font-size: 30px;
  color: rgb(28, 22, 22);
  padding: 10px;
}
.form input{
    height:3rem;
    border: 1px solid grey;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}
input:hover{
    border:1px solid #c0392b;
}
.form button{
    margin: 50px 0 0 100px;
    padding: 10px;
    width: 40%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color:rgb(89, 136, 230);
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover{
    background-color: #c0392b;
    transform: translateY(-2px);
}
